                      BODY
                      {
                       }
                      P
                      {
                          FONT-SIZE: 11px;
                          COLOR: #000000;
                          LINE-HEIGHT: normal;
                          FONT-FAMILY: Verdana, Helvetica, sans-serif;
                          LETTER-SPACING: normal;
                          TEXT-ALIGN: left
                      }
                      SPAN.text
                      {
                      	FONT-SIZE: 11px;
                      	COLOR: black;
                      	LINE-HEIGHT: 15px;
                      	FONT-FAMILY: Verdana, Helvetica, sans-serif;
                      	LETTER-SPACING: normal;
                      	TEXT-ALIGN: left;
                      	float : right;
                      }
                      SPAN.text
                      {
                      	FONT-SIZE: 11px;
                      	COLOR: black;
                      	LINE-HEIGHT: 15px;
                      	FONT-FAMILY: Verdana, Helvetica, sans-serif;
                      	LETTER-SPACING: normal;
                      	TEXT-ALIGN: left;
                      	float : right;
                      }
                      div.main
                      {
                      	background-image : url(../images/background.gif);

                      	background-repeat : no-repeat;
                      }
                      P.center
                      {
                          FONT-SIZE: 11px;
                          COLOR: #000000;
                          LINE-HEIGHT: normal;
                          FONT-FAMILY: Verdana, Helvetica, sans-serif;
                          LETTER-SPACING: normal;
                          text-align: center;
                      }
                      TABLE
                      {
                      	border : 0px;
                      	padding : 0px 0px 0px 0px;
                      }


                      div.footer
                      {
                      	FONT-SIZE: 10px;
                      	COLOR: #000000 ;
                      	FONT-FAMILY: Verdana, Helvetica, sans-serif;
                      	background-color : #A5D6FF;
                      	width : 756px;
                      	text-align : center;
                      	height : 23px;
                      	vertical-align : middle;
                      	padding-top :5px;
                      	border : 1px solid #336699;
                      }
                      TD
                      {
                          FONT-SIZE: 11px;
                          COLOR: #000000;
                          FONT-FAMILY: Verdana, Helvetica, sans-serif
                      }
                      A:link
                      {
                      	TEXT-DECORATION: underline;
                      	color : Black;
                      }
                      A:visited
                      {
                      	COLOR: Gray;
                      	TEXT-DECORATION: underline;
                      }

                      IMG
                      {
                          BORDER-RIGHT: 0px;
                          BORDER-TOP: 0px;
                          BORDER-LEFT: 0px;
                          BORDER-BOTTOM: 0px
                      }
                      FORM
                      {
                      	FONT-SIZE: 11px;
                      	COLOR: #000000;
                      	LINE-HEIGHT: normal;
                      	FONT-FAMILY: Verdana, Helvetica, sans-serif;
                      	LETTER-SPACING: normal;
                      	TEXT-ALIGN: left;
                      	PADDING-RIGHT: 3px;
                      	PADDING-LEFT: 3px;
                      	PADDING-BOTTOM: 3px;
                      	MARGIN: 0px;
                      	COLOR: black;
                      	PADDING-TOP: 3px;
                      	FONT-FAMILY: Verdana, Helvetica, sans-serif;

                      }
                      table.border
                      {
                      	FONT-SIZE: 11px;
                      	COLOR: #000000;
                      	LINE-HEIGHT: normal;
                      	FONT-FAMILY: Verdana, Helvetica, sans-serif;
                      	LETTER-SPACING: normal;
                      	TEXT-ALIGN: left;
                      	PADDING-RIGHT: 3px;
                      	PADDING-LEFT: 3px;
                      	PADDING-BOTTOM: 3px;
                      	MARGIN: 0px;
                      	COLOR: black;
                      	PADDING-TOP: 3px;
                      	FONT-FAMILY: Verdana, Helvetica, sans-serif;
                      	BACKGROUND-COLOR: white;
                      	border : 0px;
                      	border-color: #EF2151;
                      	border-left-width : 0px;
                      	border-right-width : 0px;
                      	border-top-width : 0x;
                      	border-style : solid solid solid solid;
                      	width : 700px;
                      }
                      MENU
                      {
                          FONT-WEIGHT: 500;
                          FONT-SIZE: 11px;
                          COLOR: black;
                          FONT-FAMILY: Verdana, Helvetica, sans-serif
                      }
                      TABLE
                      {
                      	BORDER-RIGHT: 0px;
                      	PADDING-RIGHT: 0px;
                      	BORDER-TOP: 0px;
                      	PADDING-LEFT: 0px;
                      	FONT-SIZE: 11px;
                      	PADDING-BOTTOM: 0px;
                      	BORDER-LEFT: 0px;
                      	COLOR: black;
                      	TEXT-INDENT: 0px;
                      	PADDING-TOP: 0px;
                      	BORDER-BOTTOM: 0px;
                      	FONT-FAMILY: verdana, Helvetica, sans-serif;
                      	BACKGROUND-COLOR: white;
                      	TEXT-ALIGN: left;
                      	border : 0px;
                      	vertical-align : bottom;
                      }
                      TD.background
                      {
                      	background-image : url(../images/background.gif);
                      	background-repeat : no-repeat;
                      	background-position : bottom;
                      }
                      div.title
                      {
                      	FONT-WEIGHT: bold;
                      	FONT-SIZE: 18px;
                      	COLOR: #000000;
                      	FONT-FAMILY: "Times New Roman";
                      	TEXT-DECORATION: none;
                      	padding : 5px 0px 5px 0px;
                      	background-position : bottom;
                      }
                      div.mytext
                      {
                      	FONT-WEIGHT: normal;
                      	FONT-SIZE: 15px;
                      	COLOR: black;
                      	FONT-FAMILY: "Times New Roman";
                      	BACKGROUND-COLOR: white;
                      	padding : 5px 0px 5px 0px;
                      }
                      div.boldtext
                      {
                      	FONT-WEIGHT: bold;
                      	FONT-SIZE: 15px;
                      	COLOR: black;
                      	FONT-FAMILY: "Times New Roman";
                      	BACKGROUND-COLOR: white;
                      	padding : 5px 0px 5px 0px;
                      }

                      div.mytext
                      {
                      	FONT-WEIGHT: normal;
                      	FONT-SIZE: 15px;
                      	COLOR: black;
                      	FONT-FAMILY: "Times New Roman";
                      	BACKGROUND-COLOR: white;
                      	padding : 5px 0px 5px 0px;
                      }
                      div.text
                      {
                      	FONT-WEIGHT:normal;
                      	FONT-SIZE: 12px;
                      	COLOR: black;
                      	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
                      	BACKGROUND-COLOR: white;
                      	padding : 5px 0px 5px 0px;
                      }
                      P.disclamer
                      {
                          FONT-WEIGHT: 100;
                          FONT-SIZE: 10px;
                          COLOR: black;
                          FONT-STYLE: italic;
                          FONT-FAMILY: Verdana, Helvetica, sans-serif;
                      }

                      A:hover
                      {

                      	TEXT-DECORATION: underline;
                      	color : #5692C3;
                      }
                      A.help:hover
                      {
                      	TEXT-DECORATION: underline;
                      	color : #ffffff;
                      	background-color : Silver;
                      }
                      OL
                      {
                          FONT-SIZE: 11px;
                          COLOR: black;
                          FONT-FAMILY: Verdana, helvetica, sans-serif;
                          LIST-STYLE-TYPE: decimal;
                          TEXT-DECORATION: none
                      }
                      UL
                      {
                          FONT-SIZE: 11px;
                          COLOR: black;
                          FONT-FAMILY: Verdana, helvetica, sans-serif;
                          LIST-STYLE-TYPE: square;
                          TEXT-DECORATION: none
                      }


H1
{
	FONT-WEIGHT: bold;
        FONT-SIZE: 15px;
        COLOR: #9E0B0E;
        FONT-FAMILY: verdana, Helvetica, sans-serif;
        TEXT-DECORATION: none
}
IMG.rule
{
   BACKGROUND-COLOR:#d2312e
}

input.btnhov{
   border-top-color:#c63;
   border-left-color:#c63;
   border-right-color:#930;
   border-bottom-color:#930;
}
